---
import IconMail from "../components/icons/IconMail.astro";
import IconPhone from "../components/icons/IconPhone.astro";
import IconLocation from "../components/icons/IconLocation.astro";

import "../styles/main.css";

import { getCollection, getEntry } from "astro:content";

import { frontmatter as header } from "../content/header.md";
import About from "../content/about.md";

const employmentCollection = await getCollection("employment");
const educationCollection = await getCollection("education");
const projectsCollection = await getCollection("projects");
const languages = await getEntry("languages", "languages");
const skills = await getEntry("skills", "skills");
const links = await getEntry("links", "links");

const employment = await Promise.all(
	employmentCollection.map(async (job) => {
		const { Content } = await job.render();
		return { job, Content };
	})
);

const education = await Promise.all(
	educationCollection.map(async (educ) => {
		const { Content } = await educ.render();
		return { educ, Content };
	})
);

const projects = await Promise.all(
	projectsCollection.map(async (proj) => {
		const { Content } = await proj.render();
		return { proj, Content };
	})
);

function prettyPrintDate(d?: Date) {
	return d
		? d.toLocaleDateString("en-US", { month: "short", year: "numeric" })
		: "";
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="resume" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<title>A.Yudenkov React Frontend dev.</title>
	</head>
	<body>
		<div class="root-container">
			<div class="header">
				<img src="./photo.jpg" alt="avatar" class="photo" />
				<div class="title-container">
					<h1 class="title">{header.name}</h1>
					<div class="contacts-container">
						<div class="contacts-item">
							<IconMail /> {header.email}
						</div>
						<div class="contacts-item">
							<IconPhone /> {header.phone}
						</div>
						<div class="contacts-item">
							<IconLocation /> {header.location}
						</div>
					</div>
				</div>
			</div>
			<div class="content-container">
				<div class="left-side-container">
					<div class="section">
						<h2 class="section-title">About me</h2>
						<div class="section-content">
							<About />
						</div>
					</div>
					<div class="separation"></div>
					<div class="section">
						<h2 class="section-title">Employment</h2>
						<div class="section-content">
							{employment.map(({ job, Content }) => (
								<div class="employment-item">
									<div class="employment-title">
										<span>{job.data.title}</span>
										<div class="dates">{prettyPrintDate(job.data.from)} - {prettyPrintDate(job.data.to)}</div>
									</div>
									<div class="sub-title">{job.data.company}</div>
									<Content />
								</div>
							))}
						</div>
					</div>
					<div class="separation"></div>
					<div class="section">
						<h2 class="section-title">Education</h2>
						<div class="section-content">
							{education.map(({ educ, Content }) => (
								<div class="employment-item">
									<div class="employment-title">
										<span>{educ.data.title}</span>
										<div class="dates">{prettyPrintDate(educ.data.from)} - {prettyPrintDate(educ.data.to)}</div>
									</div>
									<div class="sub-title">
										{educ.data.institution}, {educ.data.location}
									</div>
									<Content />
								</div>
							))}
						</div>
					</div>
					<div class="separation"></div>
					<div class="section">
						<h2 class="section-title">Pet projects</h2>
						<div class="section-content">
							{projects.map(({ proj, Content }) => (
								<div class="pet-project-item">
									<a
										href={proj.data.link}
										target="_blank">{proj.data.title}</a>
									<Content />
								</div>
							))}
						</div>
					</div>
				</div>
				<div class="right-side-container">
					<div class="section">
						<h2 class="section-title">Personal details</h2>
						<div class="section-content">
							<div class="links-container">
								{links.data.items.map((x) => (
									<div>{x.title}</div>
									<a href={x.link} target="_blank">Git</a>
								))}
							</div>
						</div>
					</div>
					<div class="separation small"></div>
					<div class="section">
						<h2 class="section-title">Skills</h2>
						<div class="section-content">
							{skills.data.items.map((x) => (
								<div>{x}</div>
							))}
						</div>
					</div>
					<div class="section">
						<h2 class="section-title">Languages</h2>
						<div class="section-content">
							{languages.data.items.map((x) => (
								<div>{x.language} - {x.level}</div>
							))}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
