---
import QRCode from "qrcode";

interface Props {
  link: string;
}

const { link } = Astro.props;

// inner padding + label space
const qrCodePadding = 4;
const borderRadius = 4;
const gap = 1;

// generate SVG at build time
const svg = await QRCode.toString(link, {
  type: "svg",
  margin: 0.8,
  errorCorrectionLevel: "M",
  color: {
    dark: "#2b384f",
    light: "#ffffff"
  }
});
---

<div style={`display:flex; flex-direction:column; gap:${gap}mm;`}>

  <!-- QR frame -->
  <div style={`
    border-radius:${borderRadius}px;
    border:1px solid #e5e7eb;
    padding:${qrCodePadding}px;
    background:white;
  `}>
    <Fragment set:html={svg} />
  </div>

  <!-- label frame -->
  <div style={`
    border-radius:${borderRadius}px;
    padding:0px;
    background:none;
    color:white;
    text-align:center;
    font-size:0.69rem;
    font-weight:bold;
  `}>
    View My Portfolio
  </div>

</div>

